html, body {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    font-size: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
}

.status {
    display: block;
    color: red;
}

a:hover {
    text-decoration: none;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
    outline: none;
}

.no-padding {
    padding: 0 !important;
}
